body{
  margin: 0;
  background-color: #e0ebe8;
  text-align: center;
}


/*  Navigation Bar Design    */

.top-container{
  height: 7rem;
  background-color: #e0ebe8;
  width: auto;
  display:flex;
}

.avatar{
  padding-top: 3%;
  position: relative;
  left: 20%;
}

#avatar-image{
  width: 80px;
  border-radius: 50%;
}

#nav-items{
  padding-top: 2%;
  margin-top: 0;
  position: absolute;
  right: 10%;
}

li{
  list-style: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 30px;
  color: #1fab89;
  font-family: 'Spectral', serif;
}

/*  Heading Design    */

.main-header{
  padding-top: 3%;
  font-size: 6rem;
  color: #1fab89;
  font-family: 'Tangerine', cursive;
}

#head-details{
  font-size: 2rem;
  margin-top: 20px;
  color: #1fab89;
  font-family: 'Podkova', serif;
}
